<div class="container" id="home-container">
  <div class="jumbotron text-center mt-4">
    <h1 class="display-4 font-weight-bold mt-5">
      Welcome to StrangeMUD<sup>&trade;</sup>
    </h1>
    <p class="lead">
      "Where thinking just might become a prerequisite"
    </p>
    <hr class="my-4">
    <h1 class="display-4 font-weight-bold mt-5">
      <br><br><br><br><br><br><br>
    </h1>
    <p class="text-justify mx-3"><small>
      StrangeMUD<sup>&trade;</sup> is a text-based multi-user real-time virtual 
      dungeons and dragons type game 
      (<a target="blank" href="https://en.wikipedia.org/wiki/MUD" class="text-success">MUD</a>). 
      The game has been running continuously since 1994. It is one of the 
      longest running MUDs out there! StrangeMUD<sup>&trade;</sup> had just 
      celebrated it's 20th anniversary!<br>
      <br>
      Running a heavily modified <a target="blank"
      href="http://www.circlemud.org/" class="text-success">CircleMUD 
      2.2</a> engine, it is anything but a MUD out of a box. A plethora of 
      insightful coders and creative builders have, over the years, 
      transformed it into a relaxed place online that many players call home.
      <br>
      <br>
      StrangeMUD<sup>&trade;</sup> offers 10 
      <a href="#" class="text-success">basic class</a>: Warrior, Cleric, 
      Thief, Mage, Paladin, Brigand, Lich, Sage, Conjurer, & Evangelist. Each 
      primary class has a choice of two 
      <a href="#" class="text-success">specialized class</a>. Both multiplay 
      and object sharing between characters are legal. Player killing(PK) is 
      optional above level 25 and clan membership is a popular way to make 
      a name for oneself. With over 80 open zones available, advancing in 
      the mortal ranks takes players through many unique areas as well as old 
      favorites.<br>
      <br>
      The most important asset to StrangeMUD<sup>&trade;</sup> is its players. 
      From any gods to helpful mortals, this MUD has something for everyone. 
      It is based on that which makes the world go around -- FUN.<br>
      <br>
      Thanks for visiting! Join us using any telnet client and telnet to 
      strangemud.net 9332</small>
    </p>
    <!-- <%= link_to "Sign up!", "#", class: "btn btn-success btn-lg" %> -->
  </div>
</div>
