<footer id="sticky-footer" class="py-4">
  <div class="container text-center">
    <small>Copyright &copy; Leo Lee (<%= link_to "Source Code", "https://github.com/Evilfishbone/strangemud", class: "text-white" %>)</small>
  </div>
</footer>